# Auth0 Configuration
REACT_APP_AUTH0_DOMAIN=dev-hgppjmarqowyitqy.us.auth0.com
REACT_APP_AUTH0_CLIENT_ID=qToTjbYK99PSnTN6Fmo0pw3poMiCvRax
REACT_APP_AUTH0_AUDIENCE=https://dev-hgppjmarqowyitqy.us.auth0.com/api/v2/

# Backend API Configuration
REACT_APP_API_URL=http://localhost:3001

# Auth0 Backend Configuration (for server.js)
AUTH0_DOMAIN=https://dev-hgppjmarqowyitqy.us.auth0.com/api/v2/
AUTH0_AUDIENCE=your-auth0-api-identifier
